body {
  background: #333333;
  margin: 0;

}

.tile {
    height: 100px;
    background: black;
    border: 5px solid blue;
    cursor: pointer;
}

.easy-tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 16px;
}
.medium-tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 16px;
}
.hard-tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 16px;
}