body {
  background: #333333;
  margin: 0;

}


.content {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 200px;
}

.buttons {
  display: flex;  
  padding: 80px;
  font-size: 100px;
  justify-content: space-evenly;
  
}
  


.tile {
    height: 100px;
    font-size: 50px;
    align-content: center;
    color: white;
    background: black;
    border: 5px solid gray;
   
}

.easy-tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 16px;
}
.medium-tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(8,100px);
    gap: 16px;
}
.hard-tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(16,100px);
    gap: 16px;
}