body {
    background: grey;
    margin: 0;
}

/* .tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;

} */

.tile {
    height: 100px;
    width: 100px;
    background: blue;
    border: 2px solid white;
    cursor: pointer;

}